Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

### Sql vs Nosql
#### SQL databases are relational, and NoSQL databases are non-relational.

#### SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.

#### SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

#### SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.

#### SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. These commands are used to create or modify the tables in SQL

DROP: It is used to drop the whole table. With the help of the “DROP” command we can drop (delete) the whole structure in one go i.e. it removes the named elements of the schema. By using this command the existence of the whole table is lost.


Syntax: 
 DROP table <table_name>;
    
    
TRUNCATE: It is used to delete all the rows of a relation (table) in one go. It is used to delete all the records from an existing table by reinitializing the table's structure

Syntax:
TRUNCATE table <table_name>;


ALTER: The ALTER TABLE statement in SQL is used to add, remove, or modify columns in an existing table. The ALTER TABLE statement is also used to add and remove various constraints on existing tables.
syntax:
ALTER TABLE <table_name>
DROP COLUMN column_name;

ALTER TABLE <table_name>
ADD Email varchar(255);


CREATE: this creates a new table in the database

syntax
CREATE table <table_name>

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language or DML is a subset of operations used to insert, delete, and update data in a database. A DML is often a sublanguage of a more extensive language like SQL; DML comprises some of the operators in the language.


INSERT	Used to insert new data records or rows in the database table

UPDATE	Used to set the value of a field or column for a particular record to a new value

DELETE	Used to remove one or more rows from the database table

syntaxes:
INSERT:
INSERT INTO table_name (column_name_1, column_name_2, column_name_3, ...)
VALUES (value1, value2, value3, ...)

UPDATE:
UPDATE table_name
SET column_name_1 = value1, column_name_2 = value2, ...
WHERE condition;

DELETE:
DELETE FROM table_name WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) commands help to get the schema relation based on the query passed to it. It allows you to get and organise data from a database

SELECT expressions    
FROM TABLES    
WHERE conditions;

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

execute()

This method accepts a MySQL query as a parameter and executes the given query.

cursor()

Allows Python code to execute SQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT

FROM

JOIN

WHERE

GROUP BY

HAVING

ORDER BY

LIMIT

SELECT DISTINCT column, AGG_FUNC(column_or_expression), …
FROM mytable
    JOIN another_table
      ON mytable.column = another_table.column
    WHERE constraint_expression
    GROUP BY column
    HAVING constraint_expression
    ORDER BY column ASC/DESC
    LIMIT count OFFSET COUNT;